.#*
**/.ensime*
.RData
.Rhistory
.projectile
*.class
*.log
blocks-simulations/target/
blocks-simulations/project/target/
formulas/.stack-work
output/**/*.csv
output/easyABC/model_*
output/easyABC/n_simul_tot_*
output/easyABC/output_*
output/easyABC/p_acc_*
output/easyABC/tolerance_*