# Temp files
.#*

# Cache
.RData
.Rhistory

# Logs
*.log

# Builds
*.class
.shake/
formulas/.shake/
blocks-simulations/target/
blocks-simulations/project/target/
formulas/.stack-work/

# Output 
formulas/test-output/
output/
report/*.png

# Docker container
openmole/formulas.container.tgz
