.#*
**/.ensime*
*.html
.RData
.Rhistory
.projectile
*.class
*.log
.shake/
blocks-simulations/target/
blocks-simulations/project/target/
formulas/.stack-work/
formulas/.shake/
formulas/test-output/
output/
report/*.png
